.app-header {
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 97%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #61dafb;
}
